<h1>Edit Contact</h1>


<%= form_for @contact do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <p><%= f.text_area :address, placeholder: "Address" %></p>
  <p><%= f.text_field :phone, placeholder: "Phone" %></p>
  <p><%= f.text_field :email, placeholder: "Email Address" %></p>
  <hr>
  <%= f.submit "Update Contact"%>
<% end %>