<h1>Your Personal Contacts</h1>
<h6><%= link_to "Add a new contact", 'contacts/new' %></h6>

<% @contacts.each do |contact| %>

<h5><%= contact.first_name %>
  <%= contact.last_name %></h5>
  <p><%= contact.phone %></p>
  <p><%= contact.email %></p>
  <p><%= contact.address %></p>
  <hr>
<% end  %>
